.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    /* height: 100vh;
    min-height: 100vh; */
    width: 100%;
    /* background-color: #414b3a; */
    background-color: transparent;
  }
  
  .animation_container {
    transform: scale(.8);
    height: 50%;
  }
  
  .main_content {
    /* height: 100vh; */
  }
  
  @media (max-width: 800px) {
    /* < 780px - Something's Coming text starts to wrap */
    .top_text {
      /* Was 72px */
      font-size: 48px;
    }
    .bottom_text {
      /* Was 42px */
      font-size: 34px
    }
  }
  
  @media (max-width: 540px) {
    .top_text {
      /* Was 48px */
      font-size: 40px;
    }
    .bottom_text {
      /* Was 34px */
      font-size: 28px
    }
  
    .animation_container {
      transform: scale(0.6);
      height: 35%
    }
  }
  
  @media (max-width: 450px) {
    .bottom_text_container { height: 40%; }
    .bottom_text {
      /* Was 28px */
      font-size: 22px
    }
  }
  
  
  @media (orientation: landscape ) and (max-height: 500px) {
    .animation_container {
      transform: scale(0.5);
      height: 50%;
      /* border: 1px solid #ccc; */
      position: relative;
      bottom: 3rem;
    }
    .top_text_container {
      height: 25%;
      /* border: 1px solid #ccc; */
    }
    .bottom_text_container {
      height: 25%;
      /* border: 1px solid #ccc; */
    }
  }