@keyframes trembling {
  0% {
    transform: scale(1);
  }
  19% {
    transform: scale(1);
  }
  21% {
    transform: scale(0.99);
  }
  22% {
    transform: scale(1);
  }
  23% {
    transform: scale(0.99);
  }
  24% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.99);
  }
  26% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.99);
  }
  26% {
    transform: scale(1);
  }
  27% {
    transform: scale(0.99);
  }
  28% {
    transform: scale(1);
  }
  29% {
    transform: scale(0.99);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  61% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    border-color: #555 transparent transparent #555;
  }
  19% {
    border-color: #555 transparent transparent #555;
  }
  20% {
    border-color: transparent #555 #555 transparent;
  }
  60% {
    border-color: transparent #555 #555 transparent;
  }
  61% {
    border-color: #555 transparent transparent #555;
  }
  100% {
    border-color: #555 transparent transparent #555;
  }
}

@keyframes moveCoin {
  0% {
    opacity: 0;
    top: 0;
  }
  19% {
    opacity: 1;
    top: 0;
  }
  21% {
    top: -7px;
  }
  22% {
    top: -7px;
  }
  23% {
    top: -14px;
  }
  24% {
    top: -14px;
  }
  25% {
    top: -21px;
  }
  26% {
    top: -21px;
  }
  27% {
    top: -28px;
  }
  28% {
    top: -28px;
  }
  29% {
    top: -35px;
  }
  30% {
    top: -35px;
  }
  60% {
    top: -35px;
  }
  66% {
    top: -220px;
    opacity: 1;
  }
  67% {
    top: -220px;
    opacity: 0;
  }
  99% {
    top: 0;
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

@keyframes write {
  99% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

.write-logo {
  animation: write 300ms ease-in-out forwards;
}
